<div class="login-page">
    <div class="login-container">
      <div class="login-page__logo">
        <a>
          <img src="https://cdn.opinionlab.com/assets/verint-logo-blue.png" alt="logo" />
        </a>
      </div>
  
      <div class="login-page__block">
        <p>NextGen Admin Portal</p>
  
        <div class="login-page__form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div class="invalid-feedback__email" *ngIf="f.email.errors.required">
                E-mail is required
              </div>
            </div>
            <div class="login-page__field-email">
              <mat-form-field class="login-page__field" appearance="fill" [floatLabel]="floatLabelControl.value">
                <mat-label>E-mail*</mat-label>
                <input 
                matInput 
                formControlName="email"
                email
                id="float-input"
                type="email"
                name="email"
                [ngClass]="{'is-invalid': submitted && f.email.errors}"
                >
              </mat-form-field>
            </div>


            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">
                Password is required
              </div>
            </div>
            <div class="login-page__field-password">
              <mat-form-field class="login-page__field" appearance="fill" [floatLabel]="floatLabelControl.value">
                <mat-label>Password*</mat-label>
                <input 
                matInput 
                formControlName="password"
                password
                id="float-pass"
                type="password"
                name="password"
                [ngClass]="{'is-invalid': submitted && f.password.errors}"
                >
              </mat-form-field>
            </div>
  
            <button mat-raised-button color="primary" class="login-button" type="submit">Sign in</button>

            <!-- <div *ngIf="error" class="error">{{error}}</div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
